<header class="topbar">
  <a class="brand" routerLink="/">
    <img src="assets/logo-rifa.svg" alt="Rifa Digital" />
  </a>
  <nav class="nav">
    <a routerLink="/" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">
      <span class="label">Inicio</span>
    </a>
    <a routerLink="/raffle" routerLinkActive="active">
      <span class="label">Sorteos</span>
    </a>
    <!-- <a routerLink="/profile/purchases" routerLinkActive="active">
      <span class="label">Mis Compras</span>
    </a>
    <a routerLink="/terms" routerLinkActive="active">
      <span class="label">Términos</span>
    </a>  -->
  </nav>
  <div class="actions">
    <!-- Mostrar acciones para usuarios logueados -->
	 @if (keycloakSvc.isLoggedIn()) {
		<a class="avatar-mini" routerLink="/profile" title="Perfil">
			<span class="placeholder">👤</span>
			@if (profile.role==='admin') {
				<a class="ghost" routerLink="/admin/new">Nuevo sorteo</a>
			}
		</a>
	 }
	 @else {
		<button class="ghost" (click)="keycloakSvc.login()">Iniciar sesión</button>
      	<button class="ghost" (click)="keycloakSvc.register()">Registrarse</button>
	 }

  </div>
</header>