<header class="topbar">
  <a class="brand" routerLink="/">
    <img src="assets/logo-rifa.svg" alt="Rifa Digital" />
  </a>
  <nav class="nav">
    <a routerLink="/" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">
      <span class="label">Inicio</span>
    </a>
    <a routerLink="/raffle" routerLinkActive="active">
      <span class="label">Sorteos</span>
    </a>
    <!-- <a routerLink="/profile/purchases" routerLinkActive="active">
      <span class="label">Mis Compras</span>
    </a>
    <a routerLink="/terms" routerLinkActive="active">
      <span class="label">Términos</span>
    </a>  -->
  </nav>
  <div class="actions">
    <a class="avatar-mini" routerLink="/profile" title="Perfil">
      <img *ngIf="profile.avatar; else noMini" [src]="profile.avatar" alt="Avatar mini" />
      <ng-template #noMini>
        <span class="placeholder">👤</span>
      </ng-template>
    </a>
    <a *ngIf="profile.role==='admin'" class="ghost" routerLink="/admin/new">Nuevo sorteo</a>
    <!-- <button class="ghost" (click)="toggleDark()">Tema</button> -->
  </div>
</header>